body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color:#e3d5af;
  }

  header {
    flex: 0 80px;
    background-color: #387541;
  }

  h1 {
    flex: 0 80px;
    text-decoration-color: white;
    text-decoration-line: overline underline;
    color: #f5faf6;
  }

  ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #d7d9d7;
  }

  .active {
    background-color: #60a66b;
  }

  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  footer {
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }