/* Basic styling for the header */
h2 {
    font-family: 'Courier', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -30vh;
    /*margin-bottom: 20vh; */
    text-align: center;
    color: #9e4f6b;
    font-size: 8vh;
  }
  
  h3 {
    font-family: 'Courier', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    /* margin-top: -30vh;
    /*margin-bottom: 20vh; */
    text-align: center;
    color: #9e4f6b;
    font-size: 8vh;
  }
  
    .container {
      font-family: 'Courier', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      /*flex-grow: 1; */
      max-width: 1200px; /* Limit width to 1200px, adjust as needed */
      max-height: 1000px; /* Center the content */
      padding: 20px;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 220px;
  }
  
  .content {
      flex: 1; /* Take up remaining space */
      align-items: center;
      justify-content: center;
  }